@charset "utf-8";
body {
  padding: 0 20%;
}
.site-header, main, .site-footer {
  width: 100%;
  padding: 0 8px;
}
main {
  flex: 1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

.post-content h2::before { content: "## "}
.post-content h2 {
  border-bottom: double gray;
}
.post-content h3::before { content: "### "}
.post-content h3 {
  border-bottom: thin solid silver;
}
.post-content h4::before { content: "#### "}
.post-content h5::before { content: "##### "}
.post-content h6::before { content: "###### "}

/*
 * Don't set background in Mermaid diagrams
 */
pre:has(>.language-mermaid), code.language-mermaid {
  background-color: transparent;
}
