@charset "utf-8";

body {
  min-width: 350px;
  padding: 0 8px;
  margin: auto;
  -webkit-text-size-adjust: unset;
  flex-wrap: wrap;
}

.site-header, main, .site-footer {
  padding: 0 8px;
}
main {
  flex: 1;
}
.post-content {
  line-height: 1.8;
  overflow-wrap: anywhere;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: bold;
  line-height: 1.2;
}
nav.toc {
  min-width: 300px;
  padding: 0.5rem;
  background-color: whitesmoke;
  margin: 1rem;
}
nav.toc > ul, nav.toc > ol {
  background-color: #fdfdfd;
  padding: 0 1rem 0 2rem;
  margin: 0;
}
nav.toc > ol::before, nav.toc > ul::before {
  display: block;
  content: "TOC";
  text-align: center;
}

.post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin: 2em auto 0.5em;
}

.post-content h2::before { content: "## "}
.post-content h2 {
  border-bottom: double gray;
}
.post-content h3::before { content: "### "}
.post-content h3 {
  border-bottom: thin solid silver;
}
.post-content h4::before { content: "#### "}
.post-content h5::before { content: "##### "}
.post-content h6::before { content: "###### "}

.post-content pre {
  font-size: 0.9rem;
}

.post-content code {
  font-size: inherit;
  border: none;
  padding: 1px 2px;
  background-color: #f2f2f2;
}
.post-content blockquote {
  font-size: 0.9rem;
  font-style: normal;
  color: unset;
  border-left: 0.5em solid steelblue;
  padding-left: 0.5em;
  margin-left: 1em;
}

.post-content a[href^="http"]::after {
  content: "🔗"; font-size: 0.8rem;
}

.post-content hr {
  margin: 3em 0;
  border: none;
  border-top: 0.5em dashed black;
}

.highlighter-rouge .highlight, pre {
  background-color: #f2f2f2;
  line-height: 1.2;
}

img {
  max-width: calc(100% - 4em);
}
img[alt] {
  margin: 1em;
  box-shadow: 3px 3px 3px 2px silver;
}

/*
 * Don't set background in Mermaid diagrams
 */
pre:has(>.language-mermaid), code.language-mermaid {
  background-color: transparent;
}

@media screen and (min-width: 1025px) {
  body {
    max-width: 1024px;
    min-width: 600px;
    padding: 0 5%;
    margin: auto;
  }
  nav.toc {
    float: right;
    max-width: 400px;
    margin: 0 0 0 1em;
  }
}
