@charset "utf-8";
body {
  padding: 0 5%;
  max-width: 1200px;
  min-width: 800px;
}
.site-header, main, .site-footer {
  width: 100%;
  padding: 0 8px;
}
main {
  flex: 1;
}
.post-content {
  font-size: 12pt;
  line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  font-weight: bold;
}
nav.toc {
  float: right;
  min-width: 400px;
  max-width: 50%;
  padding: 0.5em;
  background-color: whitesmoke;
  margin-left: 1em;
}
nav.toc > ul, nav.toc > ol {
  background-color: #fdfdfd;
  list-style-position: inside;
  padding: 0 1em;
  margin: 0;
}
nav.toc > ol::before, nav.toc > ul::before {
  display: block;
  content: "TOC";
  text-align: center;
}

.post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin: 2em auto 0.5em;
}

.post-content h2::before { content: "## "}
.post-content h2 {
  border-bottom: double gray;
}
.post-content h3::before { content: "### "}
.post-content h3 {
  border-bottom: thin solid silver;
}
.post-content h4::before { content: "#### "}
.post-content h5::before { content: "##### "}
.post-content h6::before { content: "###### "}

.post-content pre {
  font-size: 10pt;
}

.post-content code {
  font-size: inherit;
  border: none;
  padding: 1px 2px;
  background-color: #f2f2f2;
}
.post-content blockquote {
  font-size: 11pt;
  font-style: normal;
  color: unset;
  border-left: 0.5em solid steelblue;
  padding-left: 0.5em;
  margin-left: 1em;
}

.post-content a[href^="http"]::after {
  content: "🔗"; font-size: smaller;
}

.highlighter-rouge .highlight, pre {
  background-color: #f2f2f2;
  line-height: 1.2;
}

img[alt] {
  margin: 10px 0 0 10px;
  box-shadow: 3px 3px 3px 2px silver;
}

/*
 * Don't set background in Mermaid diagrams
 */
pre:has(>.language-mermaid), code.language-mermaid {
  background-color: transparent;
}
